@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(43, 43, 43);
    color: #A9B7C6;
}

.header {
    font-family: Monaco, consolas, monospace;
    margin: auto;
    width: 600px;
    font-size: 75px;
    margin-bottom: 50px;
}

.main {
    width: 600px;
    margin: auto;
}

.footer {

}

.nav {
    height: 100px;
    width: 1000px;
    margin: auto;
    display: block;
}


.nav-bar-item {
    float: right;
    padding: 30px;
}