@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(43, 43, 43);
    color: #A9B7C6;
    min-width: 800px;
}

h1 {
    font-family: 'Nunito', sans-serif;
    color: #CC7832;
}

.header {
    font-family: Monaco, Consolas, monospace;
    margin: 100px 15%;
    overflow: hidden;
    user-select: none;
}

.header-title {
    font-size: 75px;
    float: left;
    display: block;
    overflow: hidden;
}

.header-subtitle {
    float: right;
    font-size: 30px;
    display: block;
    overflow: hidden;
    color: #619647;
}

.main {
    width: 600px;
    margin: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

.nav {
    font-family: Monaco, Consolas, monospace;
    height: 100px;
    margin: 0 15%;
    display: block;
    user-select: none;
}


.nav-bar-item {
    float: right;
    padding: 30px;
    color: #CC7832;
}

/* Blinking cursor for title. */

.blinking-cursor {
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: inherit;
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: inherit;
    }
}

@-webkit-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: inherit;
    }
}

@-ms-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: inherit;
    }
}

@-o-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: inherit;
    }
}